extends layout

block content
  h1= title
  p PostShot Terms of Service
  p This Terms of Service describes the terms by which you may use our Service and the choices you may have regarding our use of your Personal Information. By using our Service, you agree to the terms of this agreement. This agreement is a legally binding agreement between you and us.

  h2 Changes to This Terms of Service

  p We may update our Terms of Service from time to time. We will notify you of any changes by posting the new Terms of Service on this page.

  p We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "Last updated" date at the top of this Terms of Service.

  h2 Contact Us

  p If you have any questions about this Terms of Service, please contact us at info@postshot.app.